<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update a patient</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/patient/update/{id}(id=${patient.id})}" th:object="${patient}" method="post" class="form-horizontal" style="width: 100%">
		<div class="form-group">
				<label for="fullname" class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{firstname}" id="firstname" placeholder="First name" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="patientname" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{name}" id="name" placeholder="Name" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="patientname" class="col-sm-2 control-label">Birthdate</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{birthdate}" id="birthdate" placeholder="Birthdate" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Genre</label>
				<div class="col-sm-10">
					<label class="checkbox-inline"><input type="radio" th:field="*{genre}" th:value="Woman">Woman</label>
					<label class="checkbox-inline"><input type="radio" th:field="*{genre}" th:value="Man">Man</label>
					<p class="text-danger" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="patientname" class="col-sm-2 control-label">Postal address</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{postalAddress}" id="postalAddress" placeholder="Postal Address" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('postalAddress')}" th:errors="*{postalAddress}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="patientname" class="col-sm-2 control-label">Phone number</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone number" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-12">
					<input type="hidden" th:field="*{id}">
					<a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Update Patient">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>